node_modules/
.DS_Store
dist/
build/
.cache/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Frontend / Vite outputs
frontend/dist/
frontend/build/

# Backend outputs
backend/dist/
backend/build/
